@import "~normalize.css";

@import "_variables";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle, rgba(255,255,255,1) 61%, rgba(197,215,237,1) 100%);
}
.navigation { 
  display: flex;
}
.navigation__position {
  position: absolute;
  left: 10%;
  top: 46%;   
}
.navigation__position--line {
  background-color: whitesmoke;
  border: 3px solid rgba(10, 5, 5, 0.705);
  color: rgb(6, 35, 51);
  font-weight: bold;
  font-size: 19px;
  margin: 20px 20px 80px 20px;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
}
